# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Python environment variables file
app/.env

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editor backups
*~
*.swp

temp.pdf